#!/usr/bin/make -f

export GOPATH=${HOME}/gocode
export GOBIN=${HOME}/gocode/bin

clean:
	dh_clean

configure:
	@echo "Configuring..."

build: configure
	@echo "Building..."
	./do.sh build

install: build
	@echo "Installing..."
	mkdir -p debian/tmp/usr/sbin/
	cp ./vouch-proxy debian/tmp/usr/sbin/
	cp config/config.yml_example config.yml

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installinit
	dh_install
	dh_link
	dh_installdeb
	dh_makeshlibs
	#dh_shlibdeps
	dh_gencontrol

binary: binary-arch
	dh_md5sums
	dh_builddeb
