[Unit]
Description=Vouch Proxy
Documentation=https://github.com/vouch/vouch-proxy
After=network-online.target
Wants=network-online.target

[Service]
User=nobody
Group=nogroup
ExecStart=/usr/bin/vouch-proxy -config /etc/vouch-proxy/config.yaml
TimeoutStopSec=5s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
